main>.container {
    padding: 80px 15px 20px;
}

.even {
    font-weight: bold
}

h1, h2, h3, li {
    color: #41567c
}

.iconify {
    width: 3rem;
    height: 3rem;
    margin: 1em;
}

.text-LinkedInBlue {
    color: #1163bf
}

.text-GitHubPurple {
    color: #7a319a
}

.text-YouTubeRed {
    color: #ff0a03
}

.text-TwitterBlue {
    color: #1da1f3
}

.text-Primary {
    color: #0f3473
}

.text-CoderFoundryOrange {
    color: #ff993b
}